{% extends "base.html" %}
{% block body %}
<hr/>
<div class="container-fluid">
{{ content.title }}

<img src="{{content.photo.url}}" class="img-fluid">
<hr/>
<div>{{ content.text }}</div>
<div class='row'>
<form method='post' action ='{%url "E_journal:delete_journal" content.id%}'>{% csrf_token %}
        <a class='btn btn-primary' href='{% url "E_journal:edit_journal" content.id%}'>編集</a>
    <button class ="btn btn-primary" type='submit' onclick = 'return confirm("本当に削除しますか？");'>削除</button>
</form>
</div>
</div>
{% endblock %}
